a:link { /* Unvisited links */
	text-decoration:  none;
	background-color: white;
	color:            blue;
} 
a:visited { /* Visited links */
	text-decoration:  none;
	background-color: white;
	color:            purple;
} 
a:hover { /* Hovered-over links */
	text-decoration:  none;
	background-color: white;
	color:            red;
} 
a:active { /* Clicked-and-held-down links */
	text-decoration:  underline;
}
body {
	font-family: Calibri,"Lucida Grande","Lucida Sans",Arial;
}
h1.centered {
	text-align: center;
}